BasedOnStyle: LLVM
Language: Cpp
ColumnLimit: 100
IndentWidth: 2
ContinuationIndentWidth: 4
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
SeparateDefinitionBlocks: Always
WrapNamespaceBodyWithEmptyLines: Always
SortIncludes: CaseSensitive
